<div id="usershowheader">
	<% if current_user.name %>
	<h2><%=current_user.name%></h2>
	<%end%>
<%= current_user.email %></br>

<div id="useravatar"><%= image_tag current_user.photo.url(:thumb) %></div>

</div>
</br>

<div id="aboutme">
	<h3> About Me </h3>
	<%if current_user.personality_traits %>
	<%current_user.personality_traits.each do |trait| %>
		<%=trait.category%>: <%= trait.name%></br>
	<%end%>
	<%end%>
</div>
<!--Display Compatabilities-->
<%if current_user && (current_user != current_user) %>
<p> You have <%=user_to_user_compatibility_points(current_user, current_user)%> compatibility points. </p>
<p>You are <%=user_to_user_compatibility_percentage(current_user, current_user)%>% compatible.</p>

<%end%>

<% @mansions.each do |mansion| %>
<div class="col-md-3" id="mansiondisplay">
	<div class="jumbotron">
	<a href="/mansions/<%=mansion.id %>/">	<img src="<%= mansion.photo_url %>" height="300px" width="100%"/></a></br>
	<a href="/mansions/<%= mansion.id %>"><%=mansion.name%></a></br>
	<%=mansion.city%>, <%=mansion.country%>
</div>
</div>
<% end %>