<p id="notice"><%= notice %></p>

<div class="container">
	<h1>This is the Mansion Lounge</h1>

	<p>Your compatibility with this mansion is <%= user_to_pledge_compatibility_percentage(@user, @mates) %>%</p>

	<p>The mansions overall chemistry is <%= overall_pledge_compatibility_percentage(@mates) %>%</p>


	<div class="panel panel-default">
	  <!-- Default panel contents -->
	  <div class="panel-heading">Mansion Lounge</div>
	  <div class="panel-body">

	    <p>Welcome to the Mansion Lounge</p>

	    <div class="panel-body">
	    	<%= form_for [@lounge.comments, @comment] do |f| %>
					<div class="field">
					  <%= f.label :body %><br>
					  <%= f.text_field :body %>

					  <%= f.submit %>
					</div>
	    	<% end %>
	    </div>
	  </div>
	</div>
</div>