<div class="container">

	<% @mansion = Mansion.find(params[:id]) %>

	<div>
	</br></br></br></br></br></br></br></br>
  <div id="gravatar">
    <% (rand(1..5)).times do %>
       <%= image_tag( "#{rand(1..23)}.jpg", size: "60x60")%>
   	<% end%>
  </div>

	<h1>Fill this personality form so we can match you up with people like you. Remember you can also apply to multiple mansions at the same time.</h1></br>
	<h2>Select from the following:</h2>

	<form action="/mansions/<%=@mansion.id%>/bookings/create" method="post">
		<select name="trait[]">
			<option value="" disable selected>Profession</option>
			<% @professions.each do |profession| %>
				<option value="<%=profession.name%>"><%=profession.name%></option>
			<% end %>	
		</select>

		<select name="trait[]">
			<option value="" disable selected>Religion</option>
			<% @religions.each do |religion| %>
				<option value="<%=religion.name%>"><%=religion.name%></option>
			<% end %>	
						
		</select>

		<select name="trait[]">
			<option value="" disable selected>Sexual Orientation</option>
			<% @sexual_orientations.each do |sexual_orientation| %>
				<option value="<%=sexual_orientation.name%>"><%=sexual_orientation.name%></option>
			<% end %>				
		</select>

		<select name="trait[]">
			<option value="" disable selected>Relationship Status</option>
			<% @relationship_status.each do |relationship_status| %>
				<option value="<%=relationship_status.name%>"><%=relationship_status.name%></option>
			<% end %>	
		</select>	

		<select name="trait[]">
			<option value="" disable selected>Gender</option>
			<% @genders.each do |gender| %>
				<option value="<%=gender.name%>"><%=gender.name%></option>
			<% end %>	
		</select>	

<h2>Select all that apply to you:</h2>

	<% @random_traits.each do |r_trait| %>
		<input type="checkbox" name="trait[]" value="<%=r_trait.name%>"><%=r_trait.name%><br>
	<% end %>

<h2>Music Styles:</h2>
	<% @music_styles.each do |style| %>
		<input type="checkbox" name="trait[]" value="<%=style.name%>"><%=style.name%><br>
	<% end %>
	
	<div>
		<h2>Create an Account</h2>
			<input name="info[name]" type="text" placeholder="Name"><br>
			<input name="info[email]" type="text" placeholder="Email"><br>		
			<input name="info[password]" type="text" placeholder="Password"><br>				
			<input name="info[password_confirmation]" type="text" placeholder="Password Confirmation"><br>			
	</div>

	<div>
		<h2>Invite friends to join you in this mansion</h2>
			<input name="email" type="text" placeholder="His/Her Email"><br>	
			<!-- ADD AJAX REQUEST HERE THAT APPENDS MORE FRIENDS' EMAIL FIELDS -->
	</div>	

		<input type="checkbox" name="stuff[terms]" value="yes">I agree to the terms and conditions
		<input type="submit" value="Submit!">
	</form>
</div>

</div>