<h1>mansions index</h1>
  <div class="col-md-4">
    <div id="map">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>

  <div class="col-md-8">
    <% @mansions.each do |mansion| %>
    <a href="mansions/<%=mansion.id%>"> <img class="mansionShow" src="<%= mansion.photo_url %>"/> </a>
    <%=mansion.name %>
    <%=mansion.description%>
      

      <span class="mansionPrice"><%= mansion.price %></span>
    <% end %>
  </div> 