<div class="mansionDescription center-block">	
	<%#= image_tag(@mansion.photo.url(:medium), class: 'mansionShow') %>
	<%#= image_tag(@mansion.photo_url), class: 'mansionShow' %>
<img src="<%= @mansion.photo_url %>"/>


<% @users.each do |user| %>
	<%= link_to image_tag(user.photo.url(:join)), user %>
<% end %>

<% if current_user %>
	<% unless current_user.mansions.include?(@mansion) %>
		<% if @mansion.users.count < @mansion.bedrooms %>
			<%= link_to 'Join', new_booking_path, class: 'btn btn-success pull-right' %>
		<% end %>
	<% else %>
		<%= link_to 'Leave', destroy_booking_path, class: 'btn btn-danger pull-right' %>
	<% end %>
<% end %>


	<h1><%= @mansion.name %></h1>
	<h3>City: <%= @mansion.city %></h3>
	<h1>Country: <%= @mansion.country %></h1>
	<h1>Region: <%= @mansion.region %></h1>
	<h1>Price: <%= @mansion.price %></h1>
	<h1>Bedrooms: <%= @mansion.bedrooms %></h1>
	<h1>Bathrooms: <%= @mansion.bathrooms %></h1>


	<div class='mansionDescription'><strong>description: </strong><%= @mansion.description %></div>

	<div class="mansionShowMap"></div>
</div>
