<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @identity.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @identity.last_name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @identity.gender %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @identity.birthdate %>
</p>

<p>
  <strong>Email:</strong>
  <%= @identity.email %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @identity.password_digest %>
</p>

<p>
  <strong>Mansionowner:</strong>
  <%= @identity.mansionowner %>
</p>

<%= link_to 'Edit', edit_identity_path(@identity) %> |
<%= link_to 'Back', identities_path %>
