<!DOCTYPE html>
<html>
<head>
  <title>MansionExpress</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

</head>
<body>
	<% if current_user %>
		<%= link_to 'sign out', destroy_user_session_path, method: :delete %>
		<%= link_to 'account settings', edit_user_registration_path %>
	<% else %>

	<div id="header" class="navbar navbar-top">
	  <div class="page-container-full mansion-header clearfix">
	    <a href="http://www.mansionexpress.com" class="pull-left">MansionExpress</a>
	    <ul class="nav pull-right help-menu " style="margin-left:0;">
	      <li class="list-your-space ">
	        <a id="list-your-space" class="btn btn-special" href="">List Your Space</a>
	      </li>
	    </ul>
	    <ul class="nav pull-right logged-out">
	      <li id="login"><a data-login-modal href="/login" class="link-reset">Log In  </a></li>
	      <li id="sign_up"><a data-signup-modal href="/signup" class="link-reset"> Sign Up</a></li>
	    </ul>
	  </div>
	</div>


	<% end %>

	<%= flash.notice if flash.notice %>
	<%= flash.alert if flash.alert %>
	
	<%= yield %>

</body>
</html>
